<div style="margin-left:auto; margin-right:auto; width: <%= 7*12 %>em;">
  <h1>When are the busiest hours?</h1>
  <table>
    <tr>
      <th></th>
      <th colspan="12">The number of karts in races</th>
    </tr>
    <tr>
      <th></th>
      <% (11..23).each do |hour| %>
        <th style="width: 5em;"><%= sprintf("%2d:00", hour) %></th>
      <% end %>
    </tr>
    <% ((1..6).to_a + [0]).each do |day| %>
      <tr>
        <th><%= Time::RFC2822_DAY_NAME[day] %></th>
        <% (11..23).each do |hour| %>
          <% minutes = (@day[day][hour].values.sum / 12).ceil.to_i %>
          <% if minutes > 0 %>
            <% scale_max = 60.0 %>
            <% scaled = [(15 * (minutes / scale_max)).ceil.to_i, 15].min %>
            <% color = sprintf("#f%x%x", 15-scaled, 15-scaled) %>
            <td style="background-color:<%= color %>;text-align:center;height:2em;">
              <span><%= @min[day][hour] %><%= '+' if @min[day][hour] != @max[day][hour] %> kart<%= 's' if @max[day][hour] > 1 %></span>
            </td>
          <% else %>
            <td style="height:2em;"></td>
          <% end %>
        <% end %>
      </tr>
    <% end %>
  </table>
  <p>The busiest hours are in dark red. The lower the number of karts the more likely you are to get a race.</p>
</div>