<div style="margin-left:auto; margin-right:auto; width: <%= 3*12 %>em;">
  <h1>When are the busiest hours?</h1>
  <p>The busiest hours are in dark red. The number shows how many people were in the smallest racing group.</p>
  <table>
    <tr>
      <th></th>
      <% (11..23).each do |hour| %>
        <th><%= sprintf("%2d:00", hour) %></th>
      <% end %>
    </tr>
    <% ((1..6).to_a + [0]).each do |day| %>
      <tr>
        <th><%= Time::RFC2822_DAY_NAME[day] %></th>
        <% (11..23).each do |hour| %>
          <% minutes = (@day[day][hour].values.sum / 12).ceil.to_i %>
          <% if minutes > 0 %>
            <% scale_max = 60.0 %>
            <% scaled = [(15 * (minutes / scale_max)).ceil.to_i, 15].min %>
            <% color = sprintf("#f%x%x", 15-scaled, 15-scaled) %>
            <td style="background-color:<%= color %>;text-align:center;">
              <span><%= @people[day][hour] %></span>
            </td>
          <% else %>
            <td></td>
          <% end %>
        <% end %>
      </tr>
    <% end %>
  </table>
</div>