<div>
  <h4>Lap times</h4>
  <table class="table table-condensed table-striped">
    <thead>
      <tr>
        <th style="width: 5%;">#</th>
        <% racer_width = (100-5)/@racers.size %>
        <% @racers.each_with_index do |racer, i| %>
          <th style="width: <%= racer_width %>%;" class="<%= "hp.#{racer["hp"]}.fg".gsub(/\./, '-') %>">
            <% if racer["nickname"].ends_with?("GT9") %>
              <span><%= racer["nickname"][0..-" GT9".length] %></span>
            <% else %>
              <span><%= racer["nickname"] %></span>
            <% end %>
          </th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% max_laps = @racers.map { |racer| racer['laps'].size }.max %>
      <% (1...max_laps).each do |lap_index| %>
        <tr>
          <td><%= lap_index %></td>
          <% @racers.each_with_index do |racer, i| %>
            <% laps = racer["laps"] %>
            <% if lap_index < laps.size %>
              <% time = laps[lap_index]["lap_time"] %>
              <td class="<%= "hp.#{racer["hp"]}.fg".gsub(/\./, '-') if time == racer['best'] %>">
                <span><%= sprintf("%2.3f", time) %></span>
              </td>
            <% else %>
              <td></td>
            <% end %>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>

  <h4>Average times</h4>
  <table class="table table-condensed table-striped">
    <thead>
      <tr>
        <th style="width: 5%;"></th>
        <% racer_width = (100-5)/@racers.size %>
        <% @racers.each_with_index do |racer, i| %>
          <th style="width: <%= racer_width %>%;" class="<%= "hp.#{racer["hp"]}.fg".gsub(/\./, '-') %>">
            <% if racer["nickname"].ends_with?("GT9") %>
              <span><%= racer["nickname"][0..-" GT9".length] %></span>
            <% else %>
              <span><%= racer["nickname"] %></span>
            <% end %>
          </th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td></td>
        <% @racers.each_with_index do |racer, i| %>
          <td class="<%= "hp.#{racer["hp"]}.fg".gsub(/\./, '-') if @best_averages.include?(racer["average"]) %>">
            <span><%= sprintf("%2.3f", racer["average"]) %></span>
          </td>
        <% end %>
      </tr>
    </tbody>
  </table>

  <h4>Personal best times</h4>
  <table class="table table-condensed table-striped">
    <thead>
      <tr>
        <th style="width: 5%;">Rank</th>
        <% racer_width = (100-5)/@racers.size %>
        <% @racers.each_with_index do |racer, i| %>
          <th style="width: <%= racer_width %>%;" class="<%= "hp.#{racer["hp"]}.fg".gsub(/\./, '-') %>">
            <% if racer["nickname"].ends_with?("GT9") %>
              <span><%= racer["nickname"][0..-" GT9".length] %></span>
            <% else %>
              <span><%= racer["nickname"] %></span>
            <% end %>
          </th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% 3.times do |index| %>
        <tr>
          <td><%= (index+1).ordinalize %></td>
          <% @racers.each do |racer| %>
            <td class="<%= "hp.#{racer["hp"]}.fg".gsub(/\./, '-') if racer['best'] == racer['times'][index] %>">
              <% if index < racer['times'].size %>
                <span><%= sprintf("%2.3f", racer['times'][index]) %></span>
              <% end %>
            </td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<script type="text/javascript">
  if (window.location.pathname == "/races/latest") {
    var checkForUpdate = function() {
      var hours = new Date().getHours()
      if (hours >= 10 && hours <= 24) {
        $.get("/races/<%= @race['id'] %>/most_recent", function(data) {
          if (data != true) {
            window.location.reload();
          }
        }).always(function() {
          setTimeout(checkForUpdate, 10000);
        });
      }
    }

    setTimeout(checkForUpdate, 5000);
  }
</script>
